{% if depth == 1 %}
<li class="phpdocumentor-sidebar__root-namespace">
    <a href="{{ entry.url }}" class="{{ destinationPath|trim('/', 'left') == entry.url ? '-active' }}">{{ entry.title | shortFQSEN }}</a>
</li>
{% endif %}
{% if entry.children.count > 0 %}
    <ul class="">
        {% for child in entry.children %}
            <li>
                <a href="{{ child.url }}" class="{{ destinationPath|trim('/', 'left') == child.url ? '-active' }}">{{ child.title | shortFQSEN }}</a>
                {{ toc(child, 'components/menu.html.twig', maxDepth, depth) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
